:root {
  // Colors
  --color-white: white;
  --color-black: black;
  --color-gray: #dbdbdb;
  --color-gray-darker: #8e8e8e;
  --color-link: #00376b;
  --color-text-main: #262626;

  --border: 1px solid var(--color-gray);
  --font-weight-bold: 600;
  
  --width: 300px;
  --gutter: 20px;
  --block: var(--width);

  @media (min-width: 768px) {
    --width: 688px;
    --block: calc(calc(var(--width) / 3) - var(--gutter));
  }

  @media (min-width: 1024px) {
    --width: 938px;
  }
}